
input{
    background-color: white;
    display: flex;
    width: 90vw;
}

.newTodo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add{
    margin-right: 2rem;
    background-color: white;
    padding: 0.3rem 0.7rem;
}